<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Farmasi'" [items]="[]" [active_item]="'Penjualan Obat'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-4">Penjualan Obat</h3>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- <button type="button" class="btn btn-tambah"><i class="fas fa-plus-circle"></i> Tambah Baru</button> -->
        <div class="card">
          <div class="header">
            <!-- <h2><strong>Penjualan Obat</strong> </h2> -->
            <button class="btn btn-tambah"><i class="fa fa-plus"></i> Tambah Penjualan</button>
          </div>
          <div class="body">

            <table class="table table-striped table-bordered table-sm table-sm" width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>No RM</th>
                  <th>BPJS</th>
                  <th>Nama</th>
                  <th>Tanggal Penjualan</th>
                  <th>Total Bayar</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
