<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Stok Opname'" [items]="[]" [active_item]="'Riyawat Stok Opname'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-4">Riyawat Stok Opname</h3>

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="card">
          <div class="header">
            <h2><strong></strong> </h2>
          </div>
          <div class="body">

            <table class="table table-sm table-striped table-bordered table-sm" width="100%">
              <thead>
                <tr>
                  <th>Tgl Mulai</th>
                  <th>Total Diperiksa</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
