<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Farmasi'" [items]="[]" [active_item]="'Proses Resep'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-4">Proses Resep</h3>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- <button type="button" class="btn btn-tambah"><i class="fas fa-plus-circle"></i> Tambah Baru</button> -->
        <div class="card">
          <div class="header">
            <h2><strong>Proses Resep</strong> </h2>
          </div>
          <div class="body">

            <table class="table">
              <thead>
                <tr>
                  <th>No RM</th>
                  <th>PBJS</th>
                  <th>Nama</th>
                  <th>No. Antrian</th>
                  <th>Tanggal Diagnosa</th>
                  <th>Status</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
