<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Farmasi'" [items]="['Report Farmasi']" [active_item]="'Data Transaksi'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-4">Data Transaksi</h3>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- <button type="button" class="btn btn-tambah"><i class="fas fa-plus-circle"></i> Tambah Baru</button> -->
        <div class="card">
          <div class="header">
            <h2><strong>Data Transaksi</strong> </h2>
          </div>
          <div class="body">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
