<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Farmasi'" [items]="[]" [active_item]="'Antrean Resep'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-4">Antrean Resep</h3>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- <button type="button" class="btn btn-tambah"><i class="fas fa-plus-circle"></i> Tambah Baru</button> -->
        <div class="card">
          <div class="header">
            <!-- <h2><strong>Antrean Resep</strong> </h2> -->




              <div class="">
                <div class="input-group">
                  <label class=" fw-bold mx-3">Tanggal</label>
                  <input type="text" class="form-control form-control-sm" >
                </div>
              </div>
              <div class="">
                <div class="input-group">
                  <label class="fw-bold mx-3">Sesi</label>
                  <select name="" id="" class="form-select form-select-sm">
                    <option value="">Semua Sesi</option>
                    <option value="">Pagi</option>
                    <option value="">Malam</option>
                  </select>
                </div>
              </div>

              <button class="btn btn-primary mx-3">Lihat</button>




          </div>
          <div class="body">



            <table class="table table-sm table-striped table-bordered table-sm">
              <thead>
                <tr>
                  <th>No</th>
                  <th>No. RM</th>
                  <th>BPJS</th>
                  <th>Nama</th>
                  <th>Alamat</th>
                  <th>Sesi</th>
                  <th>Waktu Registrasi</th>
                  <th>Status Obat</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
