<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Stok Opname'" [items]="[]" [active_item]="'Stok Opname'"></app-breadcrumb>
    </div>
    <h3 class="text-center mb-4">Stok Opname</h3>

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" [routerLink]="['../add']"  class="btn btn-tambah btn-lg mb-3"><i class="fas fa-plus"></i> Mulai</button>
        <div class="card">
          <div class="header">
            <h2><strong></strong> </h2>
          </div>
          <div class="body">

            <div class="text-center">
              <h4><strong>Tidak ada stok opname yang sedang berjalan</strong></h4>
              <strong>Klik mulai jika akan memulai stok opname</strong>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
